

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="font-awesome.min.css">
<style>
body  {
   font-family: "Garamond",elvetica, sans-serif;
    background-color: #df744a;
    color: white;
}
* {box-sizing: border-box;}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
    font-size: 20px;
  font-weight: bold;
  color: #df744a;
  background: #bfd8d2;
  outline: none;
  border: 2px solid #fedcd2;
  cursor: pointer;
  padding: 0.9em;
  -webkit-appearance: none;
  width: 100%;
  margin: 2em 0;
  letter-spacing: 4px;
}
.btn:hover{
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  transition: .5s all;
  background:  #dcb239;
   opacity: 1;
}
.link {
    background-color: white;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
}


.header {
    padding: 80px;
    text-align: center;
    background: #fedcd2;
    color: #df744a;
    

}

/* Increase the font size of the heading */
.header h1 {
    font-size: 50px;
    font-weight:bold;
    font-family: "Comic Sans MS", Times, serif;
    color: #df744a;
}
.ti
{
   font-family: "Garamond",elvetica, sans-serif;
    font-weight:bold;
    color: white;
}
a:visited 
{
  color:white;
}
</style>
</head>
<body>
   <div class="header">
  <h1>Matrimony.com</h1>
  <p>India's top matrimony website</p>
</div>
  <center>
    <h1 class="ti">User Login</h1><br><br>
<form action="login_auth" style="max-width:500px;margin:auto" method="get">
  Email<br>
  <div class="input-container"> 
    <input class="input-field" type="text" placeholder="Email" name="email" required>
  </div>
  Password<br>
  <div class="input-container">
    <input class="input-field" type="password" placeholder="Password" name="password" required>
  </div>

  <button type="submit" class="btn">Login</button>
</form>
<p>New user?</p><p><a href="new"> Register now!</a></p><br>
</center>
<ul class="colorlib-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

</body>
</html>
