<html>

<title>Wait for approval</title>
<style>
body{
    
    font-family: "Garamond",elvetica, sans-serif;
    background-color:#df744a;
    
        
}		
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #df744a;
}

a.active{
    background-color: #dcb239;
  }

.sitename
{
  font-size: 30px;
  float: left;
   display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-weight:bold;
    font-family: "Comic Sans MS", Times, serif;
    color: #df744a;
    border: 5px solid #fedcd2;
}
.header {
    padding: 80px;
    text-align: center;
    background: #fedcd2;
    color: #df744a;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 50px;
    font-weight:bold;
    font-family: "Comic Sans MS", Times, serif;
    color: #df744a;
}
  </style>
</head>

<body>
	<div class="header">
  <h1>Matrimony.com</h1>
  <p>India's top matrimony website</p>
</div>
<center style="font-size: 20px;">
	<br>
	You have registered successfully, please wait for admin approval<br><br>
    	<a href="/">Click here to go back</a>
</center>     
</body>
</html>
