
<%= @user%>
<style>body{background-image: url("images/2.jpg");
			background-color: #8e8989;
			 }
			</style>
			<br>
<div class="input-container">
    <i class="fa fa-home fa-4x" ></i>
    <a href="/"></a>
</div> 
