<html>
<head>
  <title>Messages</title>

  <style>

   body  {
    background-image: url("images/1.jpg");
    background-color: #8e8989;
}

  	
  	h1 {
  font-size: 3em;
  text-align: center;
  color: #fff;
  font-weight: 100;
  text-transform: capitalize;
  letter-spacing: 4px;
  font-family: 'Roboto', sans-serif;
}
ol {
    background: #ff9999;
    padding: 20px;
}

ul {
    background: #3399ff;
    padding: 20px;
}

ol li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
    marker-right: 70px;
}

ul li {
    background: #cce5ff;
    margin: 5px;
}

.label {
  font-size: 2em;
  color: #0000ff;
  font-weight: 100;
  width: 100%; 
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
  background-position: -800px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #0000ff;
  font-family: 'Roboto', sans-serif;
}


header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: center;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

  </style>
</head>
<body>
<header>
  <h2>Matrimony.com</h2>
</header>
<nav>
    <ul>
  <li><a class="active" href="view_messages">Users messages</a></li>
  <li><a href="search_profile">Search Profiles</a></li>
  <li><a href="user_page">Back</a></li>
    </ul>
</nav>
<center>

  <% if @n.present? %>
      <% for us in @n %>
          
          <div class="messages"<b><%= us.name %></b></div>
      <% end %>
  <% else %>
      <div class="messages"<b>No messages !</b></div>
  <% end %>
</center>  
<footer>
      <ul> 
       <li><a href="user_page">Back</a></li>
    </ul>

   </footer>    
</body>
</html>
