<!DOCTYPE html>
<html lang="en">
<head>
<title>Matrimony.com</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
* {
    box-sizing: border-box;
}

body
{
  font-family: "Garamond",elvetica, sans-serif;
    background-color: #df744a;
    color: white;
}


/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 20%;
    height: 800px; /* only for demonstration, should be removed */
    background: #bfd8d2;
    padding: 10px;
    font-size: 30px;
    font-family: "Garamond",elvetica, sans-serif;
    font-weight:bold;

}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
li {
    
    border-right:1px solid #bbb;

}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #df744a;
    
}
a:visited 
{
  color:#df744a;
}

li a:hover:not(.active) {
    background-color: #111;
}


article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color:#bfd8d2;;
    height: 800px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}



.header {
    padding: 80px;
    text-align: center;
    background: #fedcd2;
    color: #df744a;
    

}

/* Increase the font size of the heading */
.header h1 {
    font-size: 50px;
    font-weight:bold;
    font-family: "Comic Sans MS", Times, serif;
    color: #df744a;
}

</style>
</head>
<body>
 <div class="header">
  <h1>Matrimony.com</h1>
  <p>India's top matrimony website</p>
</div>

<section>
  <nav>
    <ul><br><br><br><br><br>
      <% if current_user %>
      Logged in as <%= current_user.email %><br>
      <%= link_to "Log out", {:action=>'logout'} %><br><br>
      <% else %>
      <li><a href="users/new">Register</a></li>
      <li><a href="users/login">Login</a></li>
      <li><a href="users/admin">Admin login</a></li>
      <% end %>
    </ul>
  </nav>
  
  <article>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="images/1.jpg" alt="New York" width="1200" height="700">      
      </div>

      <div class="item">
        <img src="images/2.jpg" alt="Chicago" width="1200" height="700">      
      </div>
    
      <div class="item">
        <img src="images/3.jpg" alt="Los Angeles" width="1200" height="700">      
      </div>
    </div>
</div>

</article>
</section>

</body>
</html>

