<html>
<head>
  <title>Messages</title>
</head>
<body>
<% for us in @mess %>
    <br>
        <div>
            <p> <%= us.from_id %></p>            
        </div>
      <% end %>
</body>
</html>
